<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

<h2>In this Notebook, We will discuss the summaries of different Data Science tools and ecosystems</h2>

The objective of this Notebook is to familiarize ourselves with the following Data Science concepts:
<ul>
    <li>List of Popular Languages use for Data Science</li>
    <li>List of Popular Libraries use for Data Science</li>
    <li>List of Popular Data Science Tools</li>
    <li>Arithmetic operations in Python</li>
</ul>

<h3>Some of the popular Languages used for Data Science are:<h3>
<ol>
<li>Python</li>
<li>R</li>
<li>Julia</li>
<li>Ruby</li>
</ol>

<h3>Some of the popular Libraries used for Data Science are:<h3>
<ol>
<li>Pandas</li>
<li>NumPy</li>
<li>Keras</li>
<li>Caret</li>
<li>ggplot</li>
</ol>

<table>
  <tr>
      <th>Data Science Tools</th>    
  </tr>
  <tr>
    <td>Apache Spark</td>  
  </tr>
  <tr>
    <td>Hadoop</td>
  </tr>
    <tr>
    <td>TensorFlow</td>
  </tr>
</table>

<h3>Below you can find how python runs Arithmetic Expressions</h3>

In [1]:
# This is an example of Multiplying first and then adding integers in Python
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
print(200/60, "hours")

3.3333333333333335 hours

<h2>Author:</h2>
Aditya Challa